.searchPage-header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.searchPage-logo {
    object-fit: contain;
    height: 80px;
    margin-right: 10px;
    margin-top: 0px;
}

.searchPage-headerBody > .search > .search-input {
    margin-top: 10px;
}

.searchPage-options{
    display: flex;
    align-items: center;
    color: grey;
}

.searchPage-options a {
    text-decoration: none;
    color: gray;
}

.searchPage-optionsLeft {
    display: flex;
}

.searchPage-optionsRight {
    display: flex;
    margin-left: 80px;
}

.searchPage-option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.searchPage-option a {
    margin-left: 5px;
}

.searchPage-resultsCount {
    color: gray;
    font-size: 14px;
}

.searchPage-results {
    max-width: 700px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 100px;
}

.searchPage-result {
    margin: 40px 0;
}

.searchPage-resultImage {
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.searchPage-resultLink {
    text-decoration: none;
    color: black;
}

.searchPage-resultTitle {
    text-decoration: none;
}

.searchPage-resultTitle:hover {
    text-decoration: underline;
}

.searchPage-resultTitle > h2 {
    font-weight: 500;
}

.searchPage-resultSnippet {
    margin-top: 10px;
}